@import './markdown.css';

@import url('https://rsms.me/inter/inter.css');
@import url('../assets/fonts/CascadiaCode/CascadiaCode.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .router-link-active {
    @apply border-l-4;
    @apply text-tailwind;
    @apply border-tailwind;
  }
}